
<h1>Population</h1>

<h4>Assumptions</h4>
<div class="assumptions">
  <span>size: {{assumptions.initial.size}}</span>
  <span>grid: {{assumptions.grid.horizontal}} &times; {{assumptions.grid.vertical}}  ( {{assumptions.initial.location}} )</span>
  <span><app-distribution label="age" [distribution]="assumptions.initial.age"></app-distribution></span>
  <span><app-distribution label="health" [distribution]="assumptions.initial.health"></app-distribution></span>
  <span><app-distribution label="preexisting" [distribution]="assumptions.initial.preexisting"></app-distribution></span>
</div>

<div *ngIf="population$ | async as population">
  <app-person [person]="p" *ngFor="let p of population"></app-person>
</div>
