<mat-toolbar color="primary">
  <div class="container" fxLayout="flex" fxLayoutAlign="start center" fxLayoutGap="1em">

    <span class="app-title">

      {{appTitle}}
    </span>

    <span class="flex"></span>

    <a href="#" class="with-icon" mat-button>
      <mat-icon>notifications</mat-icon>
      Notifications
    </a>
    <a href="#" class="with-icon" mat-button>
      <mat-icon>message</mat-icon>
      Messages
    </a>
    <a href="#" class="with-icon" mat-button>
      <mat-icon>account_box</mat-icon>
      My Account
    </a>
  </div>
</mat-toolbar>
