@import "./variables";
@import "./mixins";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.container {
  @include container($page_width);
}

.flex {
  flex: 1;
}

.clickable { cursor: pointer; }

a {
  @include link($color_link);
}
